@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

body {
  font-family: roboto;
  margin: 0;
  padding: 0;
}

.wrapper-primary {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  border: 2px solid red;
}

.side-col-left {
  flex: 1;
  padding: 10px 30px 0 10px;
  background: #fcf281;
}

.side-col-left-title {
  font-family: ubuntu;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 2rem;
  border-bottom: 1px solid #000;
}

.wrapper-center {
  flex: 4;
  display: flex;
  flex-flow: column nowrap;
  max-width: 1300px;
  max-height: 100vh;
  background: #ffffff;
  padding-bottom: 20px;
}

.wrapper-messages {
  flex: 1;
  max-height: 90%;
}

.messages-container {
  height: 90%;
  max-height: 90%;
  overflow: scroll;
  border: 2px solid black;
  padding: 20px;
}

.form-container {
  height: 60px;
  border: 2px solid black;
  width: 90%;
  padding: 20px;
}

.side-col-right {
  flex: 1;
  background: #f8f8f8;
}

.message-inputti {
  height: 20px;
  width: 300px;
  font-size: 18px;
  padding: 5px;
  font-family: roboto;
}

.buttoni {
  font-size: 18px;
  background-color: #000;
  color: whitesmoke;
}

.location-buttoni {
  margin-top: 1rem;
}

.testi {
  padding: 10px 0px;
  border-bottom: 1px solid #e9e8e8dc;
}

.message-sender {
  display: inline-block;
  font-weight: bold;
}

.message-iat {
  display: inline-block;
  margin-left: 15px;
  font-size: 13px;
}

.message-content {
  display: block;
  margin-bottom: 10px;
}