@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Shrikhand:regular);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
html {
  height: 100%;
  box-sizing: border-box; }
  html *,
  html *:before,
  html *:after {
    box-sizing: inherit; }
  html body {
    font-family: roboto;
    position: relative;
    margin: 0;
    min-height: 100%; }

.container-primary {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh; }
  @media only screen and (min-width: 800px) {
    .container-primary {
      flex-flow: row nowrap; } }
  .container-primary .col-left {
    order: 2;
    padding: 10px 5px;
    font-size: 20px;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #ffffff; }
    @media only screen and (min-width: 800px) {
      .container-primary .col-left {
        order: 1;
        flex-basis: 150px; } }
    .container-primary .col-left .users-online-title {
      font-size: 18px;
      font-weight: bold; }
    .container-primary .col-left .username-container {
      display: flex;
      flex-flow: row nowrap;
      overflow: scroll;
      color: #ffffff;
      font-size: 15px;
      margin-top: 5px; }
      @media only screen and (min-width: 800px) {
        .container-primary .col-left .username-container {
          flex-flow: column;
          margin-top: 0; } }
    .container-primary .col-left .username-container > * {
      margin-left: 10px;
      margin-top: 0; }
      @media only screen and (min-width: 800px) {
        .container-primary .col-left .username-container > * {
          margin-top: 5px; } }
  .container-primary .col-center {
    flex: 1;
    order: 3;
    display: flex;
    flex-flow: column nowrap; }
    @media only screen and (min-width: 800px) {
      .container-primary .col-center {
        flex: 1;
        order: 2; } }
    .container-primary .col-center .messages-container {
      flex: 1;
      overflow: scroll;
      background: white; }
      .container-primary .col-center .messages-container .messages {
        padding: 20px 10px 0 10px;
        height: 100%;
        max-height: 100%;
        overflow: scroll; }
        .container-primary .col-center .messages-container .messages .message-sender {
          display: inline-block;
          font-weight: bold; }
        .container-primary .col-center .messages-container .messages .message-iat {
          display: inline-block;
          padding-left: 20px;
          font-size: 14px; }
        .container-primary .col-center .messages-container .messages .message-content {
          margin-bottom: 15px;
          max-width: 100%;
          word-wrap: break-word; }
    .container-primary .col-center .form-container {
      height: 70px;
      padding-left: 10px;
      padding-top: 10px;
      background: #ecebeb; }
      .container-primary .col-center .form-container .message-inputti {
        width: 97%;
        padding: 10px;
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid black; }
        @media only screen and (max-width: 578px) {
          .container-primary .col-center .form-container .message-inputti {
            width: 95%; } }
        .container-primary .col-center .form-container .message-inputti:focus {
          outline: none; }
      .container-primary .col-center .form-container .send-buttoni {
        font-size: 22px;
        border: 1px solid black;
        background-color: white;
        font-family: ubuntu;
        display: none; }
        @media only screen and (max-width: 578px) {
          .container-primary .col-center .form-container .send-buttoni {
            display: none; } }
  .container-primary .col-right {
    order: 1;
    position: relative;
    font-size: 30px;
    padding: 10px 5px;
    color: white;
    background: #000;
    background-image: url("./img/connectwork.png");
    font-family: shrikhand !important; }
    @media only screen and (min-width: 800px) {
      .container-primary .col-right {
        order: 3;
        display: flex;
        flex-flow: column nowrap;
        font-size: 4vw; } }
    .container-primary .col-right .turpakii-logo {
      margin-right: 3px; }
    .container-primary .col-right .powered-by-container {
      display: none; }
      @media only screen and (min-width: 1200px) {
        .container-primary .col-right .powered-by-container {
          display: block;
          margin-top: auto;
          align-self: flex-end;
          padding: 10px; } }
      .container-primary .col-right .powered-by-container #powered-by-text {
        font-size: 3vw !important;
        padding-bottom: 10px;
        font-family: shrikhand !important; }
      .container-primary .col-right .powered-by-container .powered-by-img {
        height: 8vw; }
      .container-primary .col-right .powered-by-container #js-logo, .container-primary .col-right .powered-by-container #node-logo {
        display: inline block !important; }
      .container-primary .col-right .powered-by-container #socket-logo {
        display: block; }
      .container-primary .col-right .powered-by-container #sass-logo, .container-primary .col-right .powered-by-container #html-logo {
        margin-top: 15px; }
      .container-primary .col-right .powered-by-container #html-logo {
        margin-left: 25px; }

.signin-page-container {
  background-image: url("./img/connectwork.png");
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center; }
  @media only screen and (min-width: 800px) {
    .signin-page-container {
      flex-flow: row nowrap; } }
  .signin-page-container .blokki {
    font-family: shrikhand;
    width: 300px;
    height: 100px;
    background: #ffffffd5; }
    @media only screen and (min-width: 800px) {
      .signin-page-container .blokki {
        height: 270px; } }
    .signin-page-container .blokki .blokki-text {
      display: block !important;
      text-align: center;
      margin: auto 0;
      line-height: 100px;
      font-size: 30px; }
      @media only screen and (min-width: 800px) {
        .signin-page-container .blokki .blokki-text {
          line-height: 250px; } }
  .signin-page-container .signin-form-container {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #02020B;
    width: 300px;
    padding: 20px; }
    @media only screen and (min-width: 800px) {
      .signin-page-container .signin-form-container {
        height: 270px;
        width: 470px; } }
    .signin-page-container .signin-form-container .form-field {
      font-weight: bold;
      margin-bottom: 2rem;
      color: #ffffff; }
      .signin-page-container .signin-form-container .form-field .username-label, .signin-page-container .signin-form-container .form-field .chatroom-label {
        font-size: 18px;
        padding-bottom: 5px; }
      .signin-page-container .signin-form-container .form-field .signin-input {
        width: 95%;
        height: 35px;
        font-size: 20px;
        outline: none;
        border: none;
        border-radius: 2px; }
      .signin-page-container .signin-form-container .form-field .signin-buttoni {
        display: block;
        font-size: 18px;
        margin: 0 auto;
        padding: 5px 40px;
        cursor: pointer;
        background-color: white;
        border: none;
        color: black;
        border-radius: 5px; }
        @media only screen and (min-width: 800px) {
          .signin-page-container .signin-form-container .form-field .signin-buttoni {
            margin: 0; } }
        .signin-page-container .signin-form-container .form-field .signin-buttoni:hover {
          font-weight: bold;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
        .signin-page-container .signin-form-container .form-field .signin-buttoni:active {
          background: #ffffffd5; }
        .signin-page-container .signin-form-container .form-field .signin-buttoni:active, .signin-page-container .signin-form-container .form-field .signin-buttoni:focus {
          outline: none; }

/*# sourceMappingURL=style.css.map */
