@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Shrikhand:regular);
html {
  height: 100%;
  box-sizing: border-box; }
  html *,
  html *:before,
  html *:after {
    box-sizing: inherit; }
  html body {
    font-family: roboto;
    position: relative;
    margin: 0;
    min-height: 100%; }

.container-primary {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh; }
  @media only screen and (min-width: 800px) {
    .container-primary {
      flex-flow: row nowrap; } }
  .container-primary .col-left {
    order: 2;
    padding: 10px 5px;
    font-size: 20px;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #ffffff; }
    @media only screen and (min-width: 800px) {
      .container-primary .col-left {
        order: 1;
        flex-basis: 150px; } }
  .container-primary .col-center {
    flex: 1;
    order: 3;
    display: flex;
    flex-flow: column nowrap; }
    @media only screen and (min-width: 800px) {
      .container-primary .col-center {
        flex: 1;
        order: 2; } }
    .container-primary .col-center .messages-container {
      flex: 1;
      overflow: scroll;
      background: white; }
      .container-primary .col-center .messages-container .messages {
        padding: 20px 10px 0 10px;
        height: 90%;
        max-height: 90%;
        overflow: scroll; }
        .container-primary .col-center .messages-container .messages .message-sender {
          display: inline-block;
          font-weight: bold; }
        .container-primary .col-center .messages-container .messages .message-iat {
          display: inline-block;
          padding-left: 20px;
          font-size: 14px; }
        .container-primary .col-center .messages-container .messages .message-content {
          padding: 5px 0;
          max-width: 100%;
          word-wrap: break-word; }
    .container-primary .col-center .form-container {
      height: 60px;
      padding-left: 10px; }
      .container-primary .col-center .form-container .message-inputti {
        width: 80%;
        padding: 10px;
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid black; }
        .container-primary .col-center .form-container .message-inputti:focus {
          outline: none; }
      .container-primary .col-center .form-container .send-buttoni {
        font-size: 18px;
        border: 1px solid black; }
  .container-primary .col-right {
    order: 1;
    position: relative;
    font-size: 30px;
    padding: 10px 5px;
    color: white;
    background: #000;
    font-family: shrikhand !important; }
    @media only screen and (min-width: 800px) {
      .container-primary .col-right {
        order: 3;
        display: flex;
        flex-flow: column nowrap;
        font-size: 4vw; } }
    .container-primary .col-right .powered-by-container {
      display: none; }
      @media only screen and (min-width: 1200px) {
        .container-primary .col-right .powered-by-container {
          display: block;
          margin-top: auto;
          align-self: flex-end;
          padding: 10px; } }
      .container-primary .col-right .powered-by-container #powered-by-text {
        font-size: 3vw !important;
        padding-bottom: 10px;
        font-family: shrikhand !important; }
      .container-primary .col-right .powered-by-container .powered-by-img {
        height: 8vw; }
      .container-primary .col-right .powered-by-container #js-logo, .container-primary .col-right .powered-by-container #node-logo {
        display: inline block !important; }
      .container-primary .col-right .powered-by-container #socket-logo {
        display: block; }
      .container-primary .col-right .powered-by-container #sass-logo, .container-primary .col-right .powered-by-container #html-logo {
        margin-top: 15px; }

/*# sourceMappingURL=style.css.map */
