
@import './_utils.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Shrikhand:regular);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

html {
  height: 100%;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    font-family: roboto;
    position: relative;
    margin: 0;
    min-height: 100%
  }
}

.container-primary {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  @include big-screen {
    flex-flow: row nowrap;
  }

  .col-left {
    order: 2;
    padding: 10px 5px;
    font-size: 20px;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #ffffff;
      
    @include big-screen {
      order: 1;
      flex-basis: 150px;
    }

    .users-online-title {
      font-size: 18px;
      font-weight: bold;
    }

    .username-container {
      display: flex;
      flex-flow: row nowrap;
      overflow: scroll;
      color: #ffffff;
      font-size: 15px;
      margin-top: 5px;
      @include big-screen {
        flex-flow: column;
        margin-top: 0;
      }
    }

    .username-container > * {
      margin-left: 10px;
      margin-top: 0;
      @include big-screen {
        margin-top: 5px;
      }
    }

  }

  .col-center {
    flex: 1;
    order: 3;
    display: flex;
    flex-flow: column nowrap; 
    @include big-screen {
      flex: 1;
      order: 2;
    }

    .messages-container {
      flex: 1;
      overflow: scroll;
      background: white;

      .messages {
        padding: 20px 10px 0 10px;
        height: 100%;
        max-height: 100%;
        overflow: scroll;

        .message-sender {
          display: inline-block;
          font-weight: bold;
        }
  
        .message-iat {
          display: inline-block;
          padding-left: 20px;
          font-size: 14px;
        }
  
        .message-content {
          margin-bottom: 15px;
          max-width: 100%;
          word-wrap: break-word;
        }
      }
    }

    .form-container {
      height: 70px;
      padding-left: 10px;
      padding-top: 10px;
      background: rgb(236, 235, 235); 

      .message-inputti {
        width: 97%;
        padding: 10px;
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid black;
        @include phone-screen {
          width: 95%;
        }

        &:focus {
          outline: none;
        }
      }

      .send-buttoni {
        font-size: 22px;
        border: 1px solid black;
        background-color: white;
        font-family: ubuntu;
        display: none;
        @include phone-screen {
          display: none;
        }
      }
    }
  }

  .col-right {
    order: 1;
    position: relative;
    font-size: 30px;
    padding: 10px 5px;
    color: white;
    background: #000;
    background-image: url('./img/connectwork.png');
    font-family: shrikhand !important;
    @include big-screen {
      order: 3;
      display: flex;
      flex-flow: column nowrap;
      font-size: 4vw;
    }

    .turpakii-logo {
      margin-right: 3px;
    }

    .powered-by-container {
      display: none;
      @include bigger-screen {
        display: block;
        margin-top: auto;
        align-self: flex-end;
        padding: 10px;
      }

      #powered-by-text {
        font-size: 3vw !important;
        padding-bottom: 10px;
        font-family: shrikhand !important;
      }

      .powered-by-img {
        height: 8vw;
      }

      #js-logo, #node-logo {
        display: inline block !important;
      }

      #socket-logo {
        display: block;
      }

      #sass-logo, #html-logo {
        margin-top: 15px;
      }
      #html-logo {
        margin-left: 25px;
      }
    }
  }
}

.signin-page-container {
  background-image: url('./img/connectwork.png');
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  @include big-screen {
    flex-flow: row nowrap;
  }

  .blokki {
    font-family: shrikhand;
    width: 300px;
    height: 100px;
    background: #ffffffd5;
    @include big-screen {
      height: 270px;
    }

    .blokki-text {
      display: block !important;
      text-align: center;
      margin: auto 0;
      line-height: 100px;
      font-size: 30px;
      @include big-screen {
        line-height: 250px;
      }
    }
  }

  .signin-form-container {
    // background: linear-gradient(to bottom, rgba(250,217,97,1) 0%,rgba(249,190,80,1) 100%);
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #02020B;
    width: 300px;
    padding: 20px;
    @include big-screen {
      height: 270px;
      width: 470px;
    }
  
    .form-field {
      font-weight: bold;
      margin-bottom: 2rem;
      color: #ffffff;
  
      .username-label, .chatroom-label {
        font-size: 18px;
        padding-bottom: 5px;
      }
  
      .signin-input {
        width: 95%;
        height: 35px;
        font-size: 20px;
        outline: none;
        border: none;
        border-radius: 2px;
      }
  
      .signin-buttoni {
        display: block;
        font-size: 18px;
        margin: 0 auto;
        padding: 5px 40px;
        cursor: pointer;
        background-color: white;
        border: none;
        color: black;
        border-radius: 5px;
        @include big-screen {
          margin: 0;
        }

        &:hover {
          font-weight: bold;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        }

        &:active {
          background: #ffffffd5;
        }

        &:active, &:focus {
          outline: none;
        }

      }
  
    }
  }
}
